#name > a {
  text-decoration: none;
  /* margin-top: 5em; */
  /* text-align: left; */
  color: bisque
  
}
#name {
  padding-top: 1em;
  font-family:Georgia, 'Times New Roman', Times, serif
}
nav {
  background-color: darkgreen;
  /* text-align: right;
  text-decoration: none; */
  position: relative;
  width: 100%;
  /* margin: 20px; */
}
#links {
  text-align: right;
  /* text-decoration: none; */
  font-size: 25px;
  position: relative;
  /* height: 50px;
  padding: 20px; */
}
#links > a {
  color: bisque;
  text-decoration: none;
  padding: 10px;
}
#quote {
  text-align: center;
  /* color: darkolivegreen; */
}
footer {
  text-align: center;
  background-color: darkgreen;

}
.media {
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /* footer img  */
}
html{
  background-color: bisque;
}

main {
  width: 70vw;
  min-height: 80%;
  margin: auto;
  background-color: darkolivegreen;
}
#ross {
  width: 300px;
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  /* center the picutre within main section */
}
h2 {
  text-align: center;
  color: cadetblue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: underline;
}
h3 {
  color: chocolate;
  text-align: center;
  padding: 50px;
  font-family: fantasy;
}
h4 {
  text-align: center;
  color: goldenrod;
}
p {
  color: bisque;
  margin: 10px;
  border: solid;
  padding: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#honeymoon {
  width: 300px;
  display: block;
  margin: auto;
}
#books {
  text-align: center;
  color: darkorange;
  margin-bottom: 50px ;
}
#projetsWork{
  border: solid;
  color: royalblue;
}
#Professor {
  text-decoration: none;
}
#book {
  display: block;
  margin: auto;
  /* center img */
  width: 20em;
  height: 25em;
  /* margin-left: 24em; */
}
/* #steelers {
  width: 15em;
  height: 10em;
  /* margin-left: 1em; */
  /* display: inline; */
/* }
#hornets {
  width: 15em;
  height: 10em;
  /* margin-left: 8em; */
  /* display: inline; */
/* }
/* #portsmouth{
  width: 15em;
  height: 10em; */
  /* margin-left: 7em; */
  /* display: inline;
  /* margin: auto; 
}*/ 
.team {
  display: inline;
  margin: 2em;
  width: 15em;
  height: 10em;
/* made class with teams insted of id for each of the sports img */
}

#pasta {
  display: block;
  margin: auto;
  /* center img */
}
#ck3 {
  display: block;
  margin: auto;
  /* center img  */
}
#coding {
  display: block;
  margin: auto;
}

ul{
  text-decoration: underline;
}
.hobbies {
  border: solid;
  color: royalblue;
  margin-bottom: 5em;
}