#name > a {
  text-decoration: none;
  text-align: left;
  padding-left: 50px;
  color: bisque
  

}
nav{
  background-color: darkgreen;
  /* text-align: right;
  text-decoration: none; */
  position: relative;
  width: 100%;
}
#links {
  text-align: right;
  /* text-decoration: none; */
  font-size: 25px;
  /* height: 50px;
  padding: 20px; */
}
#links > a {
  color: bisque;
  text-decoration: none;
  padding: 10px;
}
#quote {
  text-align: center;
  color: darkolivegreen;
}
footer {
  text-align: center;
  background-color: darkgreen;

}
.media {
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
html{
  background-color: bisque;
}
main {
  width: 70vw;
  min-height: 80%;
  margin: auto;
  background-color: darkolivegreen;
}
#ross {
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* center the picutre within main section */
}
h2 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
  color: bisque;
}